@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background; //Everything in the background mixin will be added onto the body
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headimg
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
.lg-heading-contact {
  margin: 0;
  font-weight: 400;
  font-size: 6rem;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed; //Menu stays at the top even when we scroll
  z-index: 2; //How close do you wanted to you by layers
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

//Main is the start up page
main {
  padding: 4rem;
  padding-bottom: 0; //Took off scroll bar when in mobile
  min-height: calc(100vh - 60px); // Sticky footer
  .icons {
    margin-top: 1rem; //nesting, would only affect a/icons class inside main tag

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut(

        ); //Anything done in the easeOut mixin will be added on here
      }
    }
  }
  &#home {
    overflow: hidden; //No scroll bar
    h1 {
      margin-top: 20vh;
    }
  }
}

.portrait-1 {
  width: 250px;
  height: 250px;
  background: url("../img/portrait.jpg");
  border-radius: 50%; //Makes it into a circle
  border: solid 3px $secondary-color;
  background-size: contain;
}
.container-1,
.container-2,
.container-3 {
  width: 500px;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(138, 130, 130);
  background: darken($primary-color, 5);
  border-bottom: $secondary-color 2px solid;
  margin: 50px 10px 10px;
}
.Core-title {
  font-size: 18px;
  color: $secondary-color;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.flex-bio {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.bio-title {
  font-weight: 600;
  color: $secondary-color;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  margin-top: 25px;
  background: darken($primary-color, 5);
  color: set-text-color($primary-color);
  height: 60px;
}
// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact page
.boxes {
  display: flex;
  flex-wrap: wrap; // Wraps on top of eachother when screen gets smaller
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  div {
    font-size: 1.4rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: white;
      span {
        color: white;
      }
    }
  }
}

@import "mobile";
