@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  @include background; //Everything in the background mixin will be added onto the body
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headimg
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed; //Menu stays at the top even we scroll
  z-index: 2; //How close do you wanted to you by layers
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

//Main is the start up page
main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem; //nesting, would only affect a/icons class inside main tag

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut(

        ); //Anything done in the easeOut mixin will be added on here
      }
    }
  }
  &#home {
    overflow: hidden; //No scroll bar
    h1 {
      margin-top: 20vh;
    }
  }
}
